<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sign up home</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


    <h1>Welcome to Reddit! </h1>

        <br>
        <!-- <a href="users/new" method= "GET" role="button">create your username!</a> -->
         <h4>Already a user?  <a href="auth/login" method= "GET"  class = 'btn btn-info'role="button">Sign in here.</a></h4>
    <hr>


<h4>Sign up below!</h4>
    <form method="POST" action="/">
    	<label for="textInput"> Enter your new username! </label>
    	<input id = 'textInput' type="text" name='username'>
<br>
        <label for="textInput"> Enter your password! </label>
        <input id = 'textInput' type="text" name='password'>
<br>
<br>
        <label for="textInput"> Are you an admin? </label>
        <br>
        <input type="radio" name="admin" value="true"> Yes<br>
        <input type="radio" name="admin" value="false" checked> No<br>
    	<input class = 'btn btn-info' id = 'submitButton' type="submit">

    </form>


<hr>

    <h1>here are the posts!</h1>

        <%if (myPostsNotAdmin) {%>
        <% myPostsNotAdmin.forEach(function(post){ %>
            <h3>   <a href="/posts/<%=post.id%>"> <%= post.title %></a>    </h3>
            <h4>  By: <%= post.username %> </h4>
            <h3 > <a href= "http://<%=post.content_link%>" >  <%= post.content_link %>  </a> </h3>
            <form method="GET" action="/posts/<%=post.id%>" >
            </form>
            <br>
            <hr>

        <%   })  }   %>

</body>
</html>
