<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <a class="btn btn-info" class = 'btn btn-info' role="button"href="/auth/logout">Log Out</a>

<a href="/users/loggedInHome" class="btn btn-info" role="button">go back to posts</a>

    <h1>Welcome to Reddit: This is your post!</h1>



        <h4>  <%= myPost.title %> </h4>
        <h4>  <a href = '<%= myPost.content_link %>' > <%= myPost.content_link %> </a></h4>

        <%if (myComments && typeof myComments !== "undefined") {%>
            <h2>These are the comments for your post.</h2>

            <% myComments.forEach(function(comment){%>
                <h5>  <%= comment.comment_text %> </h5>
                <h5> By: <%= comment.by_username %> </h5>
                <%var postNumber = myComments[0].post_id %>

                <form method="POST" action="/posts/<%=postNumber%>/comments/<%=comment.id%>?_method=DELETE" >
                  <button class="btn btn-info" type="submit">Delete comment</button>
                </form>

                <form method="GET" action="/posts/<%=postNumber%>/comments/<%=comment.id%>" >
                    <input type="text" style = 'display: none' value = '<%=myComments.id%>' name = 'id'>
                  <button class="btn btn-info" type="submit">Edit comment</button>
                </form>
                <br>
            <%})%>

        <form method="POST" action="/posts/<%=myPost.id%>">
        	<label for="textInput"> Enter your comment for this post! </label>
            <br>
        	<input id = 'textInput' type="text" size = '60' name='comment_text'>

            <br>
            <input type="text" style = 'display:none' name='post_id' value = '<%=myPost.id%>' >
        	<input class = 'btn btn-info' id = 'submitButton' type="submit">
        </form>


    <%} else {%>
    <h4>Error: This post does not exist.</h4>
    <%}%>


</body>
</html>
